---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=erode@400,500&f[]=satoshi@700,900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    --BG-COLOR: #d5d0c4;
    --TEXT-COLOR: #1b1b1b;
  }

  body {
    background-color: var(--BG-COLOR);
    color: var(--TEXT-COLOR);
  }

  main {
    margin: 1rem 12rem;
  }

  h1,
  h2,
  h3 {
    font-family: 'Satoshi', sans-serif;
    font-weight: 900;
  }

  p,
  span,
  ul {
    font-family: 'Erode', serif;
    font-weight: normal;
  }

  div,
  ul,
  h1,
  h2,
  p {
    margin: 0.3rem 0;
  }
</style>
