---
import { ViewTransitions } from 'astro:transitions'
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link
      href="https://api.fontshare.com/v2/css?f[]=erode@400,500&f[]=satoshi@700,900&display=swap"
      rel="stylesheet"
    />
    <!-- HTML Meta Tags -->
<title>Mi lista de libros</title>
<meta name="description" content="Explora mi lista de libros, donde encontrarás mis lecturas actuales, libros pendientes por leer y aquellos que ya he terminado. Mantente al día con mis recomendaciones literarias y descubre nuevas historias para añadir a tu colección personal. Actualizaciones regulares para inspirar tu próxima lectura.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://books-landing-git-master-jayslens-projects.vercel.app/">
<meta property="og:type" content="website">
<meta property="og:title" content="Mi lista de libros">
<meta property="og:description" content="Explora mi lista de libros, donde encontrarás mis lecturas actuales, libros pendientes por leer y aquellos que ya he terminado. Mantente al día con mis recomendaciones literarias y descubre nuevas historias para añadir a tu colección personal. Actualizaciones regulares para inspirar tu próxima lectura.">
<meta property="og:image" content="/open-graph-image.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="books-landing-git-master-jayslens-projects.vercel.app">
<meta property="twitter:url" content="https://books-landing-git-master-jayslens-projects.vercel.app/">
<meta name="twitter:title" content="Mi lista de libros">
<meta name="twitter:description" content="Explora mi lista de libros, donde encontrarás mis lecturas actuales, libros pendientes por leer y aquellos que ya he terminado. Mantente al día con mis recomendaciones literarias y descubre nuevas historias para añadir a tu colección personal. Actualizaciones regulares para inspirar tu próxima lectura.">
<meta name="twitter:image" content="/open-graph-image.png">

    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    --BG-COLOR: #d5d0c4;
    --TEXT-COLOR: #1b1b1b;
  }

  body {
    background-color: var(--BG-COLOR);
    color: var(--TEXT-COLOR);
  }

  h1,
  h2,
  h3 {
    font-family: 'Satoshi', sans-serif;
    font-weight: 900;
  }

  p,
  span,
  ul,
  a {
    font-family: 'Erode', serif;
    font-weight: normal;
  }

  div,
  ul,
  h1,
  h2,
  p {
    margin: 0.3rem 0;
  }

  @media (width <= 1024px) {
    main {
      margin: 1rem 1rem;
    }
  }

  @media (width >= 1024px) {
    main {
      margin: 1rem 4rem;
    }
  }

  @media (width >= 1404px) {
    main {
      margin: 1rem 12rem;
    }
  }
</style>
